html {
  background: #fec77f;
  box-sizing: border-box;
  font-family: 'karla', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 54px;
}

h5 {
  font-size: 16px;
}

h1,
h5 {
  font-weight: normal;
  margin: 0;
}

.container {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  top: 120px;
  border-radius: 4px;
  margin: auto;
  /* padding: 24px 40px; */
  padding: 24px 40px 0 40px;
  max-width: 410px;
}

header {
  height: 106px;
  width: 100%;
  margin-bottom: 28px;
}

header h5 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #ababab;
  margin-bottom: 22px;
}

header h1 {
  width: 100%;
}

input {
  appearance: none;
  width: 100%;
  border: none;
  font-family: inherit;
  color: #4e4e4e;
  /* color: rgba(255, 255, 255, 0.7); */
  /* background: #639f92; */
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 24px;
  caret-color: #fec77f;
}

input::placeholder {
  color: #ababab;
}

/* button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background-color: #f3b059;
  border-radius: 500px;
  border: 0;
  top: -29px;
  right: -29px;
  outline: none;
  box-shadow: -8px 7px 0 0 rgba(0, 0, 0, 0.09);
  transition: 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #e7a550;
  box-shadow: -6px 5px 0 0 rgba(0, 0, 0, 0.09);
} */

ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background: #fff;
  font-size: 16px;
  color: #4e4e4e;
  height: 65px;
  /* margin: 4px 0; */
  /* border-radius: 3px; */
  /* border-top: 1px solid#F3F3F3; */
  overflow: hidden;
  /* box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.01); */
}

li .todo-content {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 10px 20px 10px 0;
}

.completed-btn {
  width: 20px;
  height: 20px;
  border-radius: 500px;
  outline: none;
  border: 1px solid #e3e3e3;
  cursor: pointer;
}

.completed-btn.completed {
  border: 1px solid #fec77f;
  background: #fec77f;
  padding: 0;
}

.delete-btn {
  width: 20px;
  height: 20px;
  outline: none;
  border: 0;
  cursor: pointer;
}

svg {
  pointer-events: none;
}

/* li .todo-content.completed {
  text-decoration: line-through;
  opacity: 0.4;
} */

/* li .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
} */

li.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #dadada;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.24);
  box-shadow: none;
  border: 0;
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #ececec;
  margin-top: 20px;
  padding: 22px 0;
  color: #ababab;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.25);
}

.clear {
  outline: none;
  border: 0;
  /* font-size: 14px; */
  background: transparent;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

/* .separator {
  position: absolute;
  left: 0;
  right: 0;
  width: 400px;
  border-bottom: 1px solid #5d9488;
  margin: 36px auto;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.13);
} */
