html {
  background: #fab64e;
  box-sizing: border-box;
  font-family: 'karla', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 54px;
}

h5 {
  font-size: 16px;
}

h1,
h5 {
  font-weight: normal;
  margin: 0;
}

.container {
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  top: 120px;
  border-radius: 4px;
  margin: auto;
  padding: 24px 40px;
  margin-bottom: 80px;
  max-width: 400px;
  box-shadow: -2px 15px 27px rgba(0, 0, 0, 0.12);
}

/* second layer for box-shadow */
.container:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 50%;
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

header {
  height: 106px;
  width: 100%;
  margin-bottom: 28px;
}

header h5 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: #ababab;
  margin-bottom: 22px;
}

header h1 {
  width: 100%;
}

input {
  appearance: none;
  width: 100%;
  border: none;
  font-family: inherit;
  color: #4e4e4e;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 24px;
  caret-color: #fec77f;
}

input::placeholder {
  color: #ababab;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background: #fff;
  font-size: 16px;
  color: #4e4e4e;
  height: 65px;
  overflow: hidden;
}

li .todo-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 10px 0;
  margin-left: 18px;
}

li .todo-content.completed {
  text-decoration: line-through;
}

.completed-btn {
  width: 20px;
  height: 20px;
  border-radius: 500px;
  outline: none;
  border: 1px solid #e3e3e3;
  background: transparent;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.completed-btn:hover,
.completed-btn.completed {
  border: 1px solid #fab64e;
  background-color: #fab64e;
}

.delete-btn {
  width: 20px;
  height: 20px;
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;
}

svg {
  pointer-events: none;
}

li.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #dadada;
  box-shadow: none;
  border: 0;
}

.separator {
  width: 100%;
  border-top: 1px solid #ececec;
  margin: 20px 0;
}
